@font-face {
  font-family: "Satoshi";
  src: url("../../../assets/fonts/fonts/Satoshi-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../assets/fonts/fonts/Satoshi-Medium.woff2")
    format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../assets/fonts/fonts/Satoshi-Bold.woff2")
    format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../../assets/fonts/fonts/Satoshi-Black.woff2")
    format("woff2");
  font-weight: 900;
}