.artist__about-section {
  border-top: 1px solid rgba(137, 137, 137, 0.2);
  padding: 4rem 4.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: rgba(224, 224, 224, 1);
  gap: 3rem;

  .info {
    max-width: 75rem;
    font-size: 1.6rem;
    font-weight: 400;
  }

  .about-artist {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;

    p{
        font-size: 3rem;
        font-weight: 700;
    }

    span{
        font-size: 1.4rem;
        font-weight: 400;
    }
  }
}
